.aptitude_question {
    margin-left: 0px;
    margin-right: 0px;

    .answer {
        margin-left: 0px;
        margin-right: 0px;
        .radio {
            margin-left: 0px;
            margin-right: 0px;
            padding-right: 0px;
        }
    }
    
    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}
