.aptitude_question {
    margin-left: 0px;
    margin-right: 0px;
    .question {
        background-color: #f8fafc;
        border: 1px solid #dee2e6;
    }

    .answer {
        background-color: #f8fafc;
        border: 1px solid #dee2e6;
        margin-left: 0px;
        margin-right: 0px;
        .radio {
            margin-left: 0px;
            margin-right: 0px;
            padding-right: 0px;
        }
    }

    &:nth-of-type(odd) {
        .question, .answer {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}
