#chat_header {
    margin: 0px;
    background-color: white;
    position: fixed;
    height: 40px;
    top: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#chat_main {
    position: fixed;
    top: 95px;
    padding-left: 10px;
    padding-right: 10px;
}

#chat_scroll {
    overflow:auto;

    &::-webkit-scrollbar {
        width: 20px;
        background: #eee;
    }
    &::-webkit-scrollbar-button {
        width: 5px;
        height: 5px;
        background: #666;
    }
    &::-webkit-scrollbar-piece {
        background: #eee;
    }
    &::-webkit-scrollbar-thumb {
        background: #38c172;
    }
}
   
#chat_log {
    .chat_individual {
        &:hover {
            background-color: rgba(0, 0, 0, 0.075);
        }
        .chat_header {
            margin-left: 20px;
            margin-top: 20px;
        }
        .chat_text {
            margin-left: 40px;
            margin-bottom: 20px;
            white-space: pre-wrap;
        }
    }
}

#bookmark {
    margin-top: 20px;
    margin-bottom: 20px;
}

#new,
#error {
    height: 40px;
    position: fixed;
    bottom: 55px;
}

#to_bottom {
    position: fixed;
    bottom: 100px;
}

#chat_footer {
    background-color: white;
    height: 60px;
    position: fixed;
    bottom: 0;
    .chat_textarea {
        resize: none;
    }
}
