#chat_header {
    margin: 0px;
    background-color: white;
    position: fixed;
    height: 40px;
}

#chat_main {
    position: fixed;
    top: 95px;
    padding-left: 0px;
    padding-right: 0px;
}

#chat_scroll {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        width: 20px;
        z-index: 10;
    }
    &::-webkit-scrollbar-track-piece {
        background: #f3f3f2;
    }
    &::-webkit-scrollbar-thumb {
        background: #6c757d;
    }
    
}
   
#chat_log {
    .chat_individual {
        &:hover {
            background-color: rgba(0, 0, 0, 0.075);
        }
        .chat_header {
            padding-left: 20px;
            padding-top: 20px;
        }
        .chat_text {
            padding-left: 40px;
            padding-bottom: 20px;
            white-space: pre-wrap;
        }
    }
}

#bookmark {
    margin-top: 20px;
    margin-bottom: 20px;
}

#to_bottom {
    pointer-events: none;
    position: fixed;
    bottom: 80px;
    height: 40px;
}

#new, #error {
    pointer-events: auto;
    padding: 0.3rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}

#to_bottom_button {
    pointer-events: auto;
    opacity: 0.3;

    &:hover {
        opacity: 1;
    }
}

#chat_footer {
    background-color: white;
    height: 80px;
    position: fixed;
    bottom: 0;
}

#chat_text {
    resize: none;
}
