#app main {
    padding-top: 0rem !important;
}

nav {
    z-index: 1035;
}

.top {
    top:0;
}

main ul {
    list-style: none;
}

.sidebar-open {
    opacity: 0.5;
    z-index: 1035;
}

.left-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    margin: 55px 0 0;
}

.right-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    margin: 55px 0 0;
}

.scroll-contents {
    position: sticky;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#left-open {
    left: 5%;
}

#right-open {
    right: 5%;
}

#left-modal .modal-dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 30%;
    margin: 0;
}

#left-modal .modal-content {
    border: 0;
    border-radius: 0 0.3rem 0.3rem 0;
}

#left-modal .modal-dialog {
    transform: translate(-50px, 0);
}

#left-modal.show .modal-dialog {
    transform: none;
}

#right-modal .modal-dialog {
    transform: translate(50px, 0);
}

#right-modal.show .modal-dialog {
    transform: none;
}

#right-modal .modal-dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 30%;
    margin: 0;
}

#right-modal .modal-content {
    border: 0;
    border-radius: 0.3rem 0 0 0.3rem;
}

#left-modal .modal-body, #right-modal .modal-body {
    position: sticky;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
}